---
import Footer from "../components/Footer.astro";
import ExperienceSection from "../components/Experience.astro";
import AcademicDispatch from "../components/AcademicDispatch.astro";
import TechnicalForecast from "../components/TechnicalForecast.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="header.departmentsTitles.cloud">
  <section>
    <TechnicalForecast />

    <!-- Vintage Separator with Ornaments -->
    <div class="flex items-center justify-center my-8">
      <div class="vintage-ornament"></div>
      <div class="vintage-separator mx-4 flex-grow"></div>
      <div class="vintage-ornament"></div>
    </div>

    <!-- Experience Section -->
    <ExperienceSection />

    <AcademicDispatch />

    <Footer pageNumber={2} />
  </section>
</Layout>
