---
import Footer from "../components/Footer.astro";
import TechnicalPublications from "../components/TechnicalPublications.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="header.departmentsTitles.tech">
  <section>
    <TechnicalPublications />

    <Footer pageNumber={3} />
  </section>
</Layout>
