---
import { t } from "../utils/translateUtils";
import GitHubIcon from "./GitHubIcon.astro";
import TranslationScript from "./TranslationScript.astro";

const environment_url = import.meta.env.BASE_URL || "/portafolio-site/";
---

<article class="border-b-2 vintage-border pb-8 mb-8">
  <h2
    class="font-['Playfair_Display'] md:text-5xl text-3xl font-bold mb-3 leading-tight vintage-text"
    data-translate="mainProject.title"
  >
    {t("mainProject.title")}
  </h2>
  <h3
    class="text-xl mb-4 font-serif italic"
    data-translate="mainProject.subtitle"
  >
    {t("mainProject.subtitle")}
  </h3>
  <div class="mb-6">
    <img
      src={environment_url + t("mainProject.image")}
      alt={t("mainProject.title")}
      class="w-full h-[400px] object-cover grayscale hover:grayscale-0 transition-all duration-300"
    />
    <p
      class="text-sm text-gray-500 mt-2 italic"
      data-translate="mainProject.imageDescription"
    >
      {t("mainProject.imageDescription")}
    </p>
  </div>
  <p
    class="text-lg leading-relaxed font-serif mb-4"
    data-translate="mainProject.description"
  >
    {t("mainProject.description")}
  </p>
  <div class="flex items-center space-x-4">
    <a
      href={t("mainProject.repository")}
      target="_blank"
      class="vintage-button"
    >
      <GitHubIcon />
    </a>
    <blockquote
      class="border-l-4 vintage-border pl-4 italic text-lg"
      data-translate="mainProject.quote"
    >
      {t("mainProject.quote")}
    </blockquote>
  </div>
</article>

<TranslationScript />
