---
import { t } from "../utils/translateUtils";
import TranslationScript from "./TranslationScript.astro";

const technicalSections = [
    {
        category: "BACKEND",
        expertise: [
            "EXPRESS.js",
            "KOA.js",
            "NEXT.js",
            "LARAVEL",
            "JAVA",
        ],
    },
    {
        category: "FRONTEND",
        expertise: ["REACT.js", "VUE.js", "ASTRO.js", "TAILWIND.css", "MUI"],
    },
    {
        category: "MOBILE & OTHER",
        expertise: ["EXPOJS","TYPESCRIPT"],
    },
];
---

<section class="mb-12">
    <h2
        class="font-['Playfair_Display'] text-3xl font-bold mb-6 pb-2 border-b-2 vintage-border"
        data-translate="sections.technicalGazette"
    >
        {t("sections.technicalGazette")}
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        {
            technicalSections.map((section) => (
                <article class="newspaper-texture p-4">
                    <h3 class="font-['Playfair_Display'] text-xl font-bold mb-2">
                        {section.category}
                    </h3>
                    <ul class="list-disc list-inside vintage-text">
                        {section.expertise.map((skill) => (
                            <li class="mb-1">{skill}</li>
                        ))}
                    </ul>
                </article>
            ))
        }
    </div>
</section>

<TranslationScript />
